 body
      {
        font-family:Ubuntu,Arial;
      }
      .todo
      {
        font-size:18px;
        font-weight:600;
        max-width:800px;
        display:flex;
        align-items:center;
        justify-content:center;
      }
      .to
      {
        display:flex;
        align-items:center;
        justify-content:center;
      }
      .todo-input-grid,
      .js-todo-list,
      .todo-grid
      {
        display:grid;
        grid-template-columns:200px 150px 100px 20px 100px 100px;
        align-items:center;
        column-gap:20px;
        row-gap:20px;
        font-size:17px;
        font-weight:500;
      }
      .todo-input-grid
      {
        margin-bottom:25px;
        padding-bottom:15px;
      }
      .todo-input-grid
      {
        align-items:stretch;
        margin-bottom:10px;
      }
      .name-input,
      .dueDate-input
      {
        font-size:15px;
        padding:6px;
      }
      .js-date-input
      {
        font-size:16px;
        font-weight:600;
        padding:6px;
      }
      button:hover
      {
        box-shadow:3px 4px 5px #444444;
      }
      .add-todo-button
      {
        background-color:green;
        border:none;
        color:white;
        font-size:15px;
        cursor:pointer;
        transition:box-shadow 0.15s;
        /*padding-top:10px;
        padding-bottom:10px;
        padding-left:40px;
        padding-right:40px;
        text-align:center; */
      }
      .delete-todo-button
      {
        background-color:darkred;
        color:white;
        border:none;
        font-size:15px;
        cursor:pointer;
        padding-top:10px;
        padding-bottom:10px;
        transition:box-shadow 0.15s;
      }
      .one
      {
        display:flex;
        align-items:center;
        justify-content:left;
      }